.release-tag {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  transform: translateY(-50%);
  margin-left: 6px;
  background: var(--vp-c-text-1);
  border-radius: 50%;
}