.el-table .el-table__header {
    display: table;
    border-collapse: inherit;
    margin: inherit;
    overflow-x: inherit;
}
.el-table__body-wrapper table {
    display: inherit;
    border-collapse: inherit;
    margin: inherit;
    overflow-x: inherit;
}